.list{
  height: 150px;
  margin: 16px 0;
  padding: 16px;
}

.align-right{
  text-align: right;
}

.img-thumbnail {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.date {
  padding: 0;
}
