#formContent {
  border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    padding: 0px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
    min-height: 500px;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
